<div class="timescale-dropdown">
  <div class="timescale-dropdown__control">
    <div class="timescale-dropdown__label">Timescale</div>

    <button
      type="button"
      class="timescale-dropdown__value"
      (click)="toggle()"
      aria-haspopup="listbox"
      [attr.aria-expanded]="open"
    >
      <span class="timescale-dropdown__valueText">{{ selected }}</span>
      <span class="timescale-dropdown__chevron" aria-hidden="true">
        <svg width="5" height="8.47" viewBox="0 0 5 8.47" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M0 2.2 L2.5 6.27 L5 2.2" fill="none" stroke="rgba(140, 150, 200, 1)" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </button>
  </div>

  <div class="timescale-dropdown__menu" *ngIf="open" role="listbox">
    <button
      type="button"
      class="timescale-dropdown__item"
      *ngFor="let opt of options"
      role="option"
      [attr.aria-selected]="opt === selected"
      [class.is-selected]="opt === selected"
      (click)="select(opt)"
    >
      {{ opt }}
    </button>
  </div>
</div>
